<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
    <br><font size="20" face="Verdana"> Multimedia Resource Forum  </font> <br> <br>
	&nbsp by Zhili Zhang, Jimin Ge, Qiyuan Sun
	<br> <br> <br>
	
	
	
	
	
	<hr> 
	<!----------------------------------------- Videos ----------------------------------------------- -->
	
	<font size="5" face="Verdana"> Videos  </font> <br> <br>
	
	  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	<video id='gs_video' width='352' height='198' controls preload='metadata'>  
      <source id='gs_video_mp4' src='http://columbiangn.appspot.com/videos/columbia.mp4' type='video/mp4' /> 
    </video>
	
	
	&nbsp &nbsp
	<video id='gs_video' width='352' height='198' controls preload='metadata'>  
      <source id='gs_video_mp4' src='http://columbiangn.appspot.com/videos/GameofThrones.mp4' type='video/mp4' /> 
    </video>
	
	
	
	&nbsp &nbsp
	<video id='gs_video' width='352' height='198' controls preload='metadata'>  
      <source id='gs_video_mp4' src='http://columbiangn.appspot.com/videos/Arrow.mp4' type='video/mp4' /> 
    </video>
	
	<br>
	   &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<a href="http://columbiangn.appspot.com/videos/columbia.mp4"> A Video about Columbia</a>  &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	&nbsp &nbsp &nbsp &nbsp <a href="http://columbiangn.appspot.com/videos/GameofThrones.mp4">Game of Thrones Season 6 Trailer</a>  &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	 &nbsp &nbsp <a href="http://columbiangn.appspot.com/videos/Arrow.mp4"> Arrow Season 4 Trailer</a>  &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	<br>
	
	<br>
	  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	<video id='gs_video' width='352' height='198' controls preload='metadata'>  
      <source id='gs_video_mp4' src='http://columbiangn.appspot.com/videos/happy.mp4' type='video/mp4' /> 
    </video>
	
	
	&nbsp &nbsp
	<video id='gs_video' width='352' height='198' controls preload='metadata'>  
      <source id='gs_video_mp4' src='http://columbiangn.appspot.com/videos/Superman.mp4' type='video/mp4' /> 
    </video>
	
	
	&nbsp &nbsp
	<video id='gs_video' width='352' height='198' controls preload='metadata'>  
      <source id='gs_video_mp4' src='http://columbiangn.appspot.com/videos/Popeye.mp4' type='video/mp4' /> 
    </video>
	
	
	<br>
	   &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<a href="http://columbiangn.appspot.com/videos/happy.mp4">MV of 'happy'</a>  &nbsp &nbsp  &nbsp &nbsp
     &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<a href="http://columbiangn.appspot.com/videos/Superman.mp4">Superman Comic</a>  &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<a href="http://columbiangn.appspot.com/videos/Popeye.mp4">Popeye Comic</a>  &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	<br>
	<br>
	<br>
	<br>
	<hr>
	
	<!----------------------------------------- Musics ----------------------------------------------- -->
	
	<font size="5" face="Verdana"> Musics  </font> <br> <br>
	
	
	
	 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	<audio id='gs_audio' controls preload='metadata'>
      <source id='gs_mp3_src' src='http://columbiangn.appspot.com/musics/All_About_that_Bass.mp3' type='audio/mp3'>
    </audio>
	
	&nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp
	<audio id='gs_audio' controls preload='metadata'>
      <source id='gs_mp3_src' src='http://columbiangn.appspot.com/musics/Bad_Day.mp3' type='audio/mp3'>
    </audio>
	
	&nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp
	<audio id='gs_audio' controls preload='metadata'>
      <source id='gs_mp3_src' src='http://columbiangn.appspot.com/musics/Let_It_Go.mp3' type='audio/mp3'>
    </audio>
	
	<br>
	 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<a href="http://columbiangn.appspot.com/musics/All_About_that_Bass.mp3">All About That Bass</a>  &nbsp
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<a href="http://columbiangn.appspot.com/musics/Bad_Day.mp3">Bad Day</a>  &nbsp
	&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<a href="http://columbiangn.appspot.com/musics/Let_It_Go.mp3">Let It Go</a>  &nbsp
	<br><br>
	
	<br>
	 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	<audio id='gs_audio' controls preload='metadata'>
      <source id='gs_mp3_src' src='http://columbiangn.appspot.com/musics/Uptown_Funk.mp3' type='audio/mp3'>
    </audio>
	
	 &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp
	<audio id='gs_audio' controls preload='metadata'>
      <source id='gs_mp3_src' src='http://columbiangn.appspot.com/musics/Love_the_Way_You_Lie.mp3' type='audio/mp3'>
    </audio>
	
	&nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp
	<audio id='gs_audio' controls preload='metadata'>
      <source id='gs_mp3_src' src='http://columbiangn.appspot.com/musics/Me_and_My_Broken_Heart.mp3' type='audio/mp3'>
    </audio>
	
   <br>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<a href="http://columbiangn.appspot.com/musics/Uptown_Funk.mp3">Uptown Funk</a>  &nbsp
	 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<a href="http://columbiangn.appspot.com/musics/Love_the_Way_You_Lie.mp3">Love The Way You Lie</a>  &nbsp
	 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
	<a href="http://columbiangn.appspot.com/musics/Me_and_My_Broken_Heart.mp3">Me and My Broken Heart</a>  &nbsp
	
	<br><br><br><br> <br>
	
	<hr>
	<!----------------------------------------- Discussion Boards----------------------------------------------- -->
	<font size="5" face="Verdana"><b> Discussion Boards: </font> </b>   <br><br>
	This is the disscussion board for <font size="6" face="Verdana"> ''{{ guestbook_name }}''  </font>
	
	<p style="line-height:100%">
    {% for greeting in greetings %}
      {% if greeting.author %}
	    &nbsp &nbsp &nbsp &nbsp &nbsp <img src="http://columbiangn.appspot.com/images/google1.png" />  
        <b> <font size="2" face="Verdana">{{ greeting.author.email }} </font> 
          {% if user and user.user_id() == greeting.author.identity %}
            (You)
          {% endif %} </b>
		<font size="4" > at <b> </font> <font size="1.5" face="Verdana">  {{ greeting.date }} </font>
        </b>  &nbsp <font size="4" >said:</font>
      {% else %}
	   &nbsp &nbsp &nbsp &nbsp &nbsp <img src="http://columbiangn.appspot.com/images/anonymous1.png" />
       <font size="2" face="Verdana">Anonymous </font> <font size="4" > at </font>  <font size="1.5" face="Verdana">  {{ greeting.date }} </font>  &nbsp <font size="4" >said:</font>
      {% endif %}
	  <font size="2" face="Verdana">
	  {{ greeting.content }}  </font>  <br>
      <!-- <blockquote>{{ greeting.content }}</blockquote>  -->
    {% endfor %}
    </p>
	<br> <br> <br>
	
	<a href="{{ url|safe }}">{{ url_linktext }}</a>
	&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="100"></textarea></div>
	  <div> &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp   &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp   &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp   &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp 
	  <b><input type="submit" value="submit" size="10"></b> </div>
    </form>

    <hr>

    <form>Choose Boards:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="Go To">
	  &nbsp &nbsp <font size="2" face="Verdana">   Tip: Board name is the video/music name. Try to change board name and discuss in another board. e.g. uptownfunk</font> 
    </form>
     
   
	<br><br><br><br><br><br><br><br><br>
	<hr>
	<font size="1" face="Verdana"> <center>This website is for course ELEN 6770. </center> </font>

  </body>
</html>
{% endautoescape %}